<form action="/register" method="post">
    <input type="email" name="email" placeholder="email" id="">
    <input type="password" name="password" id="" placeholder="password">
    <!-- <input type="password" name="repassword" placeholder="confirm password" id=""> -->
    <input type="submit" value="register">
</form>